@model IEnumerable<Result>

<div class="container mt-4">
    <h2>Database Results</h2>
        <table class="table table-bordered table-striped">
                <thead>
                            <tr><th>ID</th><th>Name</th><th>Timestamp</th></tr>
                                    </thead>
                                            <tbody>
                                                        @foreach (var item in Model)
                                                                    {
                                                                                    <tr>
                                                                                                        <td>@item.Id</td>
                                                                                                                            <td>@item.Name</td>
                                                                                                                                                <td>@item.Timestamp</td>
                                                                                                                                                                </tr>
                                                                                                                                                                            }
                                                                                                                                                                                    </tbody>
                                                                                                                                                                                        </table>
                                                                                                                                                                                        </div>
                                                                                                                                                                                        